&__size{ 
    border: 1px solid black;
    width: 50px; 
    margin: 0.5rem;
    height: 40px;
    background: white;
    cursor:pointer;
    text-decoration: none; 
  
    &--selected { 
      color:white;
      background:black;
      border: 1px solid black;
      width: 50px; 
      margin: 0.5rem;
      height: 40px;
      cursor:pointer;
      text-decoration: none;       
      }
  } 