.item {
    align-items: center;
    width: 100%;
    height: 5.5rem;
    margin: 0.5rem;
    display: flex;
    align-content: center;
    border-bottom: 1px solid #E1E8EE;    
}
.item__image {
    width: 6rem;
}
.item__image img { 
    height: 4.5rem;
}
.item__delete { 
    font-size: 1.3em;
    color: rgb(122, 122, 122);
    margin: auto 0 auto 0;
    border: none;
    background: transparent;
    cursor: pointer;     
}.item__info{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}
.item__info__name { 
    font-size: 1.5rem;
    color:  #7d7d7d;
    margin-right:auto;
    border: none;
    background:transparent;
}
.item__info__tam { 
    color:black;
    font-size: 1rem;
}
.item__amout--cart { 
    margin: auto 0.5rem auto 0.5rem;
    color:black;
}
.item__amout__button { 
    font-size: 1.3em;
    color: rgb(122, 122, 122);
    margin: auto 0 auto 0;
    border: none;
    background: transparent;
    cursor: pointer;  
    padding: 0;      
}
.item__price { 
    color: black;
    margin: auto;
}