.App {
  text-align: center;
}
.container {
  margin: 0 auto;
  position: relative;
  width: 100%;
}

body {
  padding-top: 50px;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(179, 179, 179);
  color: #fff;
}
