
.topbar {
    backface-visibility: hidden;
    background-color: black;
    left: 0;
    padding: 10px 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9000;
  }
.topbar .container { 
  display: flex;
  justify-content: space-between;
}
.topbar__logo { 
  display: inline-block;
  height: 40px;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Roboto', Courier, monospace;
}
.topbar__logo{
  display: inline-block;
}
.topbar__logo svg {
  height: 100%;
}
.topbar__group { 
  display: flex;
  justify-content: flex-end;
  font-size: 1.3em;
  align-content: center;
  justify-content: center;
  align-items: center;
}
// .input__topbar{
//    float: right; 
//    position:relative;
// }
// .topbar__group input { 
//     background: transparent;
//     border: 1px solid white;
//     border-radius:20px;
//     background-color: white;
//     width: 20rem;
//     padding: 10px;
//     font-size: 1.1rem;
// }
// .input__topbar input[type = text] {
//    padding-left:40px;
// }
// .input__topbar {
//   position: relative;
// }
.input__topbar i{
  position: absolute;
  padding:4px 8px;
  color:rgb(255, 255, 255);
  font-size: 1.3rem; 
  margin: auto;
}
  .topbar__icon,
  .topbar__icon a {
    position: relative;
    border:none;
    border-radius: 10px;
    background:transparent;
    color: white;
    font-size: 1.5rem;
    font-weight: normal;
    margin: auto 0.5rem;
    transition: all 0.1 ease-in-out;  
}  
.topbar__icon {
  a {
    &:hover {
      color:#b7b3b3;
      cursor: pointer;
    }
  }
}
      
.container { 
    display: flex;
    align-items: center;
}

@media screen and (min-width: 1279px) {
  .container {
    max-width: 1279px;
  }
}
@media screen and (max-width:768px) { 
  .container { 
  display: flex;
  flex-wrap: wrap;
  }
 .input__topbar { 
   overflow: hidden;
   width: 100%;
 }
 .input__topbar input { 
   width: 100%;
 }
 
 .topbar__group { 
   margin: 0.5rem;
 } 
}