body {
  .topbar  { 
    color: white;
    background-color:black;
    padding: 10px 10px;
    position: fixed;
    width: 100%;
    z-index: 2000;
  

    &__logo { 
      display: inline-block;
      height: 40px;
      color:white;
      text-decoration: none;
      font-size: 2rem;
      font-weight: 600;    
    }
    &__icon { 
      color: white;
      position: relative;
      font-size: 1.5rem;
        & a{
          color:white;
        }
        & :hover { 
          color:#9d9d9d;
          transition: all 0.2s ease-in-out
        }
    }
  }
}

.topbar .topbar__container { 
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  align-items: center;
}
.topbar__group { 
  margin-right: 10rem;
}

@media screen and (max-width:768px) { 
  .topbar__container  { 
  flex-wrap: wrap;
  }
  .topbar__group { 
    margin-right: auto;
  }
}
