
.sidebar__top { 
    padding-top:140px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    &__close { 
        font-size: 1.3em;
        position: absolute;
        left: 0;
    }
    &__items { 
        padding-right: 15px;
    }
    &__title { 
        height: 60px;
        border-bottom: 1px solid #E1E8EE;
        padding: 10px 30px;
        color: #5E6977;
        font-size: 18px;
        font-weight: 400;
    }        
}
.sidebar{ 
    &__items { 
        padding-right: 15px;
    }
}


.cart{
    align-items: center;
    width: 100%;
    height: 10rem;
    margin: 1rem  0;
    display: flex;
    align-content: center;
    border-bottom: 1px solid #E1E8EE;    
    color: black;
    &__items { 
        height: 100%;
        padding: 1rem 2rem; 
        overflow-y: auto;
    }
    &__image {
    width: 6rem;
    }
    &__image img { 
    height: 7rem;
    }

    &__buttons { 
        display: flex;
        border: none;
        font-size: 1.5rem;
        align-items: center;

        &--finish {
            position: fixed;
            bottom: 0;
            width: 450px;
            background:black;
            color:white;
            height: 6vh;
            font-size: 1.2em;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;    
         }
    }    
}

@media screen and (max-width : 700px) { 
    .sidebar{ 
        width: 100%;
        margin: auto;
        &__content { 
            width: 100%;
        }
    }
    .cart__buttons--finish { 
        width: 100%;
    }
  }


