.search{

        &__item{
            display: flex;
            padding:0 10px;
            margin:1.5rem 1rem;
            width: 70px;        
            display: flex;
            margin-right: auto;
            text-decoration: none;
            &__image {
                width: 6rem;
                margin-right:0.5rem;
                }
                &__image img { 
                height: 7rem;
                }
            &__info {    
                margin-left: 2rem;
                flex-direction: column;
                color:black;
                display: flex;
                align-items: center;
            &__name { 
                font-size: 13px;
                color:  #7d7d7d;
                margin-bottom: 10px;
            }
            }
        } 

    }
@media screen and (max-width:600px) { 
    .search { 
        width: auto;
    }
}