
.card {
    margin: 10px;
    border:2px solid rgba(0,0,0,.125); 
    box-shadow: black;
    color: black;
    background: white;
    padding: 5px 10px;
    max-width: 20rem;
}   

.card img { 
    margin-bottom: 50px;
    max-width: none;
    max-height: none;
    height: 100%;
    width: 300px;
    display: block;
    margin: auto;
    font-family: 'ROBOTO',sans-serif;
}
.card-image{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    opacity: 1;
    background-color: #333;
    backface-visibility: hidden;
 }
.discount {
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: black;
    color: white;
    line-height: 150%;
    text-align: center;
}

.card-image i{ 
    top: 10px;
    right: 10px;    
    position: absolute;
    color: transparent;
    font-size: 50px;
}
.card-image   i:hover{ 
    color: black;
    transition-duration:1.5s;
    cursor: pointer;
}
.card-image  img:hover { 
    opacity: .6;
   backface-visibility: visible;
   background: black;
   transition: .5s all;
   cursor: pointer;
   color:linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%);
}
.Footer { 
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    text-decoration: none;
}
.LinkFooter { 
    text-decoration: none;
    
}
.item__tittle--footer { 
    font-size: 15px;
}
.price {
    display: flex;
    flex-direction: row;
    margin: 10px;
    margin-top: 15px;
    justify-content: center;
}
// .regular__price { 
//     font-size: 13px;
//     margin: 0.5rem;
//     color: gray;
//     text-decoration: line-through;
// }
.actual__price{
    font-size: 20px;
    font-weight: 700;
}
.installments{
    color: gray;
    font-size: 13px;
    margin: 0px 25px 0px 10px;
}