.Footer { 
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    text-decoration: none;
    &__tittle { 
        margin: auto;
    }
    &__price { 
        display: flex;
        flex-direction: row;
        margin: 1rem;
        margin-top: 15px;
        justify-content: center;
        align-items: center;
        &__actual {
            font-size: 20px;
            margin:1rem;
            font-weight: 600;
        }
        &__regular { 
            color: gray;
            text-decoration: line-through;;;
        }
    }
}

.installments{
    color: gray;
    font-size: 13px;
    margin: 0px 25px 0px 10px;
}