.Footer { 
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    text-decoration: none;
}
.LinkFooter { 
    text-decoration: none;
    
}
.item__tittle--footer { 
    font-size: 15px;
}
.price {
    display: flex;
    flex-direction: row;
    margin: 10px;
    margin-top: 15px;
    justify-content: center;
}

.actual__price{
    font-size: 20px;
    font-weight: 700;
}
.installments{
    color: gray;
    font-size: 13px;
    margin: 0px 25px 0px 10px;
}